article {
    margin-right: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 20px;
  }
  
.button-edit {
    background: #ffb6c1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d8bfd8;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button-delete {
    background: #bc8f8f;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d8bfd8;
    cursor: pointer;
  }

